
{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Angular Node JS</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus magnam optio voluptatum sunt soluta officiis accusamus vel esse, natus asperiores error ut quidem placeat libero, sed pariatur ad, sapiente repellat.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/angular.png" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}